.App-header {
  text-align: center;
  font-size: calc(20px + 2vmin);
  position: sticky;
  display: flex;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  height: 10vh;
  color: white
}

.links {
  margin-left: auto;
  display: flex;
  gap: 1em;
  color: turquoise;
  font-size: calc(12px + 2vmin);
}
.links button {
  all: unset;
  cursor: pointer;
}
.links a {
  all: unset;
  color: turquoise;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.links :hover {
  color: cornflowerblue;
}
.line {
  width: 50vw;
}
