.App-header {
  text-align: center;
  font-size: calc(20px + 2vmin);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #282c34
}
.App-header p {
}
.links {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 20px;
  color: turquoise; font-size: 
  calc(12px + 2vmin);
}
.links button {
  all: unset;
  cursor: pointer
}
.links :hover {
  color: cornflowerblue;
}
.line {
    width: 50vw;
  }